version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://backend:5001
#    depends_on:
#      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "5001:5001"
    environment:
      - NODE_ENV=production
      - PORT=5001
      - MONGO_URL=mongodb://mongo:27017/auth-crud
      - REDIS_URL=redis://redis:6379
      - CLIENT_URL=http://localhost:3000
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
